#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;

  .container {
    width: 90%;
    margin: 0 auto;
    font-family: inherit;

    @include media-breakpoint-down(xs) {
      width: 90%;
    }
    
    @include media-breakpoint-down(md) {
      width: 85%;
    }
  }
}